<div>
  <h1>Change your username</h1>
  <p>Enter a new username</p>
</div>

<form [formGroup]="usernameForm" (ngSubmit)="onAccept()">
  <div mat-dialog-content>
    <div mat-dialog-content>
      <p>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label *ngIf="data.username">Username</mat-label>
          <input
            type="text"
            matInput
            placeholder="Username"
            formControlName="username"
          />
          <mat-error *ngIf="this.usernameForm.hasError('required', 'username')">
            Username cannot be empty
          </mat-error>

          <mat-error
            *ngIf="this.usernameForm.hasError('minlength', 'username')"
          >
            Username must contain atleast 4 characters
          </mat-error>
          <mat-error
            *ngIf="this.usernameForm.hasError('maxlength', 'username')"
          >
            Username cannot contain more than 12 characters
          </mat-error>
        </mat-form-field>
      </p>
    </div>
  </div>

  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit">Confirm</button>
    <button mat-raised-button color="accent" type="button" (click)="onCancel()">
      Cancel
    </button>
  </mat-dialog-actions>
</form>
