#canal-overlay{
  display: none;
  position: fixed;
  top: 64px;
  right: 15px;
  z-index: 10;
  width: 230px;
  box-shadow :0 5px 5px rgba(0,0,0,0.4);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: white;
}

.mat-icon{
  height:20px !important;
  width:20px !important;
  font-size:20px !important;
}

.btn {
  border-radius: 50%;
  border: none;
  background-color: transparent;
}

.btn:hover{
  background-color: #fae2dd;
}

.canal-top{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(#DEDEDE,0.4);
}
.canal-top>:nth-child(1){
  width: 70%;
  margin-left: 10px;
}
.canal-top>:nth-child(3){
  margin-right: 10px;
}

.canal{
  margin-left: 10px;
}
.canal:hover{
  color: #da7e70;
  cursor: pointer;
}
