<mat-card-title mat-dialog-title>Create a new channel!</mat-card-title>
<p>Anybody will be able to join this channel.</p>

<form [formGroup]="newDrawingForm" (ngSubmit)="onAccept()">
  <p>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Channel name</mat-label>
      <input
        type="text"
        matInput
        placeholder="Enter a channel name"
        [errorStateMatcher]="matcher"
        formControlName="name"
      />
      <mat-error
        *ngIf="this.newDrawingForm.hasError('duplicateChannelName', 'name')"
        >Channel name already exists</mat-error
      >
      <mat-error *ngIf="this.newDrawingForm.hasError('required', 'name')"
        >Channel name cannot be empty</mat-error
      >
      <mat-error *ngIf="this.newDrawingForm.hasError('minlength', 'name')"
        >Channel name must contain at least 4 characters</mat-error
      >

      <mat-error *ngIf="this.newDrawingForm.hasError('maxlength', 'name')"
        >Channel name cannot contain more than 12 characters</mat-error
      >
      <mat-error *ngIf="this.newDrawingForm.hasError('duplicateNameError')"
        >A channel with that name already exists</mat-error
      >
    </mat-form-field>
  </p>
  <mat-dialog-actions align="end">
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="newDrawingForm.invalid"
    >
      Create
    </button>
    <button mat-raised-button color="accent" type="button" (click)="onCancel()">
      Cancel
    </button>
  </mat-dialog-actions>
</form>
