.postbtn{
  background-color: #DA7E70;
  color: white;
  border:none;
  width: 100px;
  border-radius: 10px;
}

.postbtn:hover{
  cursor: pointer;
  background-color: #924642;
}

.confirm{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#postName{
  border: none;
  border-radius: 10px;
  background-color: #FEF9F7;
  padding: 3px;
}

#postName:focus{
  outline:none
}
