<mat-toolbar id="nav-bar" color="primary" *ngIf="user">
  <div>
    <span id="main-logo">ColorImage</span>
  </div>
  <span class="menu-spacer"></span>
  <span class="menu-spacer"></span>
  <span class="menu-spacer"></span>
  <div>
    <a mat-button routerLink="/gallery" class="page-link">Gallery</a>
  </div>

  <span class="user-properties"></span>

  <div class="page-link">
    {{ user.username }}
  </div>
  <div>
    <a mat-button (click)="logout()" id="logout-button">Logout</a>
  </div>
</mat-toolbar>
