<mat-toolbar id="nav-bar" color="primary" *ngIf="user">
  <div>
    <span id="main-logo">ColorImage</span>
  </div>
  <span class="menu-spacer"></span>
  <span class="menu-spacer"></span>
  <span class="menu-spacer"></span>
  <div>
    <a mat-button routerLink="/gallery" class="page-link">Gallery</a>
    <a mat-button routerLink="/museum" class="page-link">Museum</a>
  </div>



  <span class="user-properties"></span>

  <div id="searchBar">
    <button mat-icon-button class="icon">
      <mat-icon>search</mat-icon>
    </button>
    <input type="search"
              #searchInput
              id="searchbar-input"
              autocomplete="off"
              spellcheck="false"
              placeholder="Search"
              >
  </div>


  <button mat-icon-button routerLink="/teams">
    <img src="../../../../assets/svg-icon/group-icon.svg">
  </button>
  <button mat-icon-button (click)="onChatClick()">
    <img src="../../../../assets/svg-icon/chat-icon.svg">
  </button>
  <button mat-icon-button id="userButton"  (click)="logout()">
  </button>
</mat-toolbar>
<channel *ngIf="user"></channel>
