<div class="row">
  <svg [attr.width]="width" [attr.height]="height">
    <rect
      [attr.width]="secondarySize.width"
      [attr.height]="secondarySize.height"
      [attr.fill]="secondaryColor"
      [attr.fill-opacity]="secondaryAlpha"
      class="color-selector"
      (click)="clickSecondary($event)"
      matTooltip="Secondary color"
    />
    <rect
      [attr.x]="primarySize.x"
      [attr.y]="primarySize.y"
      [attr.width]="primarySize.width"
      [attr.height]="primarySize.height"
      [attr.fill]="primaryColor"
      [attr.fill-opacity]="primaryAlpha"
      class="color-selector"
      (click)="clickPrimary($event)"
      matTooltip="Primary color"
    />
  </svg>
</div>
