<div id="user-statistics">
  <mat-card-title style="padding-left: 50px; padding-bottom: 40px">
    Thanks
  </mat-card-title>

  <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="50px">
    <mat-card id="statistics-card">
      <mat-card-content>
        <mat-card-title>
          We'd like to thank the people that helped us</mat-card-title
        >
        <div>
          <mat-card id="statistics">
            <mat-card-content>
              <div fxLayout="column" fxLayoutAlign="center">
                <div fxFlex="33%">
                  <div fxLayout="row wrap">
                    <div fxFlex="50%">
                      <mat-card-subtitle>Tier 1 subscribers </mat-card-subtitle>
                    </div>

                    <div fxFlex="50%">
                      <a
                        href="https://www.youtube.com/watch?v=-YO__TXy0p4"
                        target="_blank"
                        >Nhien Ton</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
