<div id="chat-popup">
<app-popout-window #popout>
  <div class=chat-top>
    <p>{{chatRoomName}}</p>
    <div class="chat-menu" *ngIf="!isPopoutOpen; else openPopout">
      <button mat-icon-button class="btn" id="ArrowDown" #arrowDown (click)="minimizeChat(true)">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <button mat-icon-button class="btn" id="ArrowUp" #arrowUp (click)="minimizeChat(false)">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
      <div *ngIf="!isMinimized" style="display: inline;">
        <button mat-icon-button class="btn" (click)="openChatPopout(); popout.popOut()">
        <mat-icon>open_in_full</mat-icon>
      </button>
      </div>
      <button mat-icon-button class="btn" (click)="closeChat()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <ng-template #openPopout>
      <div class="chat-menu-popout">
        <button mat-icon-button class="btn" (click)="closeChatPopout(); popout.popIn()">
          <mat-icon>close_fullscreen</mat-icon>
        </button>
      </div>
    </ng-template>
  </div>


  <div id="chat-bottom" #chatBottom>
    <div id="chatbox" #chatBox *ngFor="let message of currentMessageHistory | keyvalue">
      <div><p>{{message.timestamp}} {{message.author}}: {{message.message}}</p></div>
    </div>
    <div id="message">
      <input
      type="text"
      #messageBody
      id="usermsg"
      autocomplete="off"
      spellcheck="false"
      placeholder="Enter your message here"
      (input)="onInput($event)"
      />
      <button mat-icon-button class="buttonContainer"  (click)="sendMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
  </app-popout-window>

</div>

