:host ::ng-deep.mat-icon-button {
  min-width: 30%;
}

#chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
  width: 230px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: rgba(255, 255, 255, 0.8);
}

.chat-top {
  background-color: rgba(#dedede, 0.8);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.chat-top > :nth-child(1) {
  width: max-content;
  margin-left: 10px;
}

#chatbox {
  text-align: left;
  font-size: 12px;
  margin: 0 auto;
  padding: 10px;
  height: 270px;
  width: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.8);
}

.buttonContainer {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: #924642;
  & > * {
    color: #924642;
  }
}

#message {
  width: 100%;
  border-top: 2px black;
  display: block;
  text-align: center;
}

input[type="text"] {
  border: none;
}

.time {
  color: grey;
  font: 10px bold;
  align-self: flex-end;
  margin-right: 10px;
}

#new-message-form {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 95%;
  display: flex;
}

#new-message-input {
  border: none;
  background-color: transparent;
  margin-left: 5%;

  width: 100%;
}

#new-message-input:focus {
  outline: none;
}

.user,
.other {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 8px;
  align-self: flex-end;
}

.user {
  justify-content: right;
}

.other {
  justify-content: left;
}

.user > .messageBox {
  border-radius: 10px 10px 0px 10px;
  background-color: #a5a6f6;
}

.other > .messageBox {
  border-radius: 0px 10px 10px 10px;
  background-color: #fcedea;
}

.messageBox {
  width: 90%;
  padding: 10px 5px 10px 5px;
  word-wrap: break-word;
}

#chatbox > * {
  display: flex;
  flex-direction: column;
}

#loadHistory:hover {
  cursor: pointer;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  margin-left: 5%;
}
