

.chat-body {
  height: 95%;
  padding: 10px;
  background:  #e79a90;
  text-align: center;
}

.chat-body > *{
  height: 50%;
}

#chatbox {
  text-align: left;
  font: 12px arial;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  //background: #fff;
  height: 270px;
  width: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #FEF9F7;
  border-radius: 10px;
}
