#settings-container {
  width: 100%;
  height: 100%;
  padding-top: 2%;
  margin: auto;
  background-color: #fcedea;
}

#settings-drawer {
  width: 20%;
  margin-right: 40%;
  background-color: #fcedea;
}

#settings-options {
  margin: auto;
  text-align: center;
}
