<mat-drawer-container id="settings-container">
  <mat-drawer mode="side" opened id="settings-drawer">
    <div
      id="settings-options"
      fxLayout="column wrap"
      fxLayoutAlign="center"
      fxLayoutGap="20px"
      style="padding-top: 12%; padding-right: 2%"
    >
      <div fxFlex="30%" style="padding-bottom: 2%">
        <mat-card-title>User settings</mat-card-title>
      </div>
      <div fxFlex="40%">
        <button
          mat-button
          [routerLink]="['/settings/overview']"
          class="router-button"
        >
          My profile
        </button>
      </div>
      <div fxFlex="40%">
        <button
          mat-button
          [routerLink]="['/settings/privacy']"
          class="router-button"
        >
          Privacy & Safety
        </button>
      </div>
      <div fxFlex="40%">
        <button
          mat-button
          [routerLink]="['/settings/history']"
          class="router-button"
        >
          History
        </button>
      </div>
      <div fxFlex="40%">
        <button
          mat-button
          [routerLink]="['/settings/statistics']"
          class="router-button"
        >
          Statistics
        </button>
      </div>
      <hr />
      <div fxFlex="40%">
        <button
          mat-button
          [routerLink]="['/settings/thanks']"
          class="router-button"
        >
          Thanks
        </button>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content id="settings">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
