#settings-container {
  width: 65%;
  height: 80%;
  padding-top: 2%;
  margin: auto;
  background-color: #fcedea;
}

#settings-drawer {
  width: 25%;
  margin-right: 10%;
  background-color: #fcedea;
}

#settings-options {
  margin: auto;
  padding-right: 20%;
  text-align: center;
}

mat-drawer-container {
  flex: 1 1 auto;
}

.router-button {
  width: 80%;
}
