<div id="gallery">
  <mat-grid-list cols="1" rowHeight="200px">
    <mat-grid-tile colspan="1" rowspan="1">
      <div id="gallery-header">
        <mat-grid-list cols="2">
          <mat-grid-tile
            ><div><h1>Gallery</h1></div></mat-grid-tile
          >
          <mat-grid-tile
            ><div id="new-drawing-button">
              <button
                mat-raised-button
                color="primary"
              >
                New Drawing
              </button>
            </div></mat-grid-tile
          >
        </mat-grid-list>
      </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="4">
      <!-- TODO: Get all drawings and display them here.  -->
    </mat-grid-tile>
  </mat-grid-list>
</div>
