<div id="gallery">
  <div id="gallery-header" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="30%" id="section">
      <h1>Gallery</h1>
    </div>
    <div fxFlex="30%" id="create-button">
      <button
        mat-raised-button
        color="primary"
        (click)="createNewDrawing()"
      >
        Create a drawing
      </button>
    </div>
  </div>
  <br />
  <div id="drawingsContainer" fxLayout="row wrap" fxLayout.sm="columnm wrap" fxLayoutGap="33px grid">
    <div
      fxFlex="33%"
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      *ngFor="let drawing of drawings"
    >
      <mat-card class="mat-elevation-z2 gallery" (click)="goToDrawing(drawing._id)">
        <img alt="" [src]='getSanitizedUrl(drawing.dataUri)' width="100%" height="100%"/>
      </mat-card>
    </div>
  </div>
</div>
