<div id="museum">
  <div *ngIf="posts.length != 0; else noPost" >
    <div *ngFor="let post of posts">
      <div class="post">
        <div class="post-header">
          <div class="author-picture" *ngIf="post.owner">
            <ngx-avatar [src]="post.owner.avatar?.imageUrl"></ngx-avatar>
          </div>
          <div class="info">
            <div class="author-text" *ngIf="post.ownerModel === 'User'">
              {{ post.owner.username }}
            </div>
            <div class="author-text" *ngIf="post.ownerModel === 'Team'">
              {{ post.owner.name }}
            </div>
            <div class="time-text" *ngIf="post.owner">{{getTime(post.createdAt)}}</div>
          </div>
        </div>

        <div class="post-image">
          <div class="image">
            <img src="../../../assets/effect/like.gif" class="likeEffect" #likeEffect>
            <img [src]="this.transformUri(post.dataUri)" class="drawing" (click)="openPostDialog(post)">

          </div>

          <div class="bottom-image">
            <div class="bottom-group" (click)="toggleLike(post)">
              <audio #audioOption>
                <source src="../../../assets/sound/like.mp3" type="audio/mp3">
              </audio>

              <div *ngIf="hasBeenLike(post.likes); else notLikeBlock">
                <mat-icon>favorite</mat-icon>
              </div>
              <ng-template #notLikeBlock>
                <div>
                  <mat-icon>favorite_border</mat-icon>
                </div>

              </ng-template>
              <div class="nbLike">
                {{ post.likes.length }}
              </div>

            </div>
            <div class="bottom-group">
              <mat-icon>chat_bubble</mat-icon>
              <div class="nbLike">
                {{ post.comments.length }}
              </div>
            </div>
          </div>
        </div>

        <div *ngFor="let comment of post.comments.slice(0,4)">
          <div class="comment">
            {{ comment.author?.username }} : {{ comment.content }}
          </div>
        </div>
        <div class="comment" *ngIf="post.comments.length > 4" >
          ...
        </div>


      <div class="bottom-comment">
        <input
          type="comment"
          #commentInput
          [id]="post._id"
          class="comment-input"
          autocomplete="off"
          spellcheck="false"
          placeholder="Add comment"
          (keyup.enter)="addComment(post._id)"
        />
        <button mat-icon-button id="postbtn" (click)="addComment(post._id)">
          POST
        </button>
       </div>

      </div>
    </div>
  </div>
  <ng-template #noPost>
    <div class="advice">
      Start by following other users
    </div>
  </ng-template>
</div>
