.formInput {
  display: block;
  width: 100%;
  margin: auto;
  position: relative;
}

.mat-card:not([class*="mat-elevation-z"]) {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#titleCard {
  // color: #924642;
  font-size: 36px;
  padding-top: 1%;
  padding-bottom: 1%;
}

#login {
  font-size: 24px;
  padding-bottom: 1%;
}

#loginForm {
  width: 500px;
  height: 300px;
}

#loginButton {
  padding-top: 50px;
  text-align: right;
  position: relative;
}

#registerRedirect {
  font-size: 18px;
}
