<div id="channel-overlay" class="mat-app-background">
  <div class="channel-top" id="channel-top">
    <p>Channels</p>
    <button mat-icon-button (click)="openAddChannelModal()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="All">
      <form id="search-bar" (ngSubmit)="searchChannels()">
        <button mat-icon-button class="icon" type="submit">
          <mat-icon>search</mat-icon>
        </button>
        <input
          #searchInput
          type="search"
          id="search-input"
          autocomplete="off"
          spellcheck="false"
          placeholder="Search channels"
          [(ngModel)]="this.searchQuery"
          name="search"
        />
      </form>
      <div *ngIf="searchedChannels.length == 0">
        <p>Couldn't find any channels corresponding to that search.</p>
      </div>
      <div
        fxLayout="row wrap"
        fxLayoutAlign="center center"
        class="channel-list"
      >
        <div *ngFor="let channel of searchedChannels">
          <div class="channel" (click)="openChannel(channel)">
            <p style="margin-left: 10px">{{ channel.name }}</p>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Connected">
      <div
        fxLayout="row wrap"
        fxLayoutAlign="center center"
        class="channel-list"
      >
        <div *ngFor="let channel of connectedChannels">
          <div class="channel" (click)="openChannel(channel)">
            <p (click)="openChannel(channel)" style="margin-left: 10px">
              {{ channel.name }}
            </p>

            <button
              mat-button
              [matMenuTriggerFor]="menu"
              (click)="$event.stopPropagation()"
              *ngIf="!channel.isPrivate"
              class="options-button"
            >
              <mat-icon> more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="removeChannel(channel)">
                Leave
              </button>
              <button
                mat-menu-item
                (click)="deleteChannel(channel)"
                class="delete-button"
              >
                Delete
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
