<div id="channel-overlay">
  <div class="channel-top" *ngIf="!isSearchOpen; else searchBar">
    <p>Channels</p>
    <button mat-icon-button class="btn" (click)="openAddChannelModal()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button class="btn" (click)="toggleSearchBar()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <ng-template #searchBar>
    <input type="search"
            id="searchInput"
            autocomplete="off"
            spellcheck="false"
            placeholder="Search groups..."
            (input)="searchChannel($event)" >
    <button mat-icon-button class="btn" (click)="toggleSearchBar()">
      <mat-icon>close</mat-icon>
    </button>
  </ng-template>

  <div class="channel-list">
    <div *ngFor="let channel of channels">
      <div class="channel" (mouseover)="toggleChannelButton(channel, true)" (mouseout)="toggleChannelButton(channel, false)">
        <p (click)="openChannel(channel)">{{channel.name}}</p>
        <div class="deleteChannelBtn" [id]="channel.name">
          <button mat-icon-button class="btn" (click)="removeChannel(channel._id)">
            <mat-icon>clear</mat-icon>
          </button>
          <button mat-icon-button class="btn" (click)="deleteChannel(channel._id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

<div #addChannelModal class="modal">
  <div class="modal-content">
    <div class="headerModal">
      <h2>Create a new channel!</h2>
      <button mat-icon-button class="btn" (click)="closeAddChannelModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="bottomModal">
      <input
      type="text"
      #newChannelNameInput
      id="channelName"
      autocomplete="off"
      spellcheck="false"
      placeholder="Enter a channel name"
      (input)="onInput($event)"
      />
      <button mat-icon-button class="btn" (click)="addChannel()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
