<div id="teams">
  <div id="team-header" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="20%">
      <h1>Collaborations Teams</h1>
    </div>
    <div fxFlex="20%" id="create-button">
      <button mat-button>Create a team</button>
    </div>
  </div>
  <br />
  <div
    fxLayout="row wrap"
    fxLayoutGap="16px grid"
    fxLayoutAlign="space-around center"
  >
    <div
      fxFlex="33%"
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      *ngFor="let team of teams"
    >
      <mat-card class="mat-elevation-z4 team">
        <mat-card-header>
          <mat-card-title (click)="goToTeam(team._id)"
            ><a>{{ team.name }}</a>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>{{ team.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Join team</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
