<mat-grid-list cols="2">
  <mat-grid-tile
    ><mat-card-title>Welcome to ColorImage!</mat-card-title></mat-grid-tile
  >
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>ColorImage</mat-card-title>
      <mat-card-title>Register</mat-card-title>
      <mat-card-content>
        <form
          [formGroup]="registerForm"
          (ngSubmit)="onSubmit()"
          class="roundedCorners"
        >
          <table style="border-collapse: collapse">
            <tr>
              <td style="padding: 0">
                <p>
                  <mat-form-field appearance="outline" class="no-padding">
                    <mat-label>First Name</mat-label>
                    <input
                      type="text"
                      matInput
                      placeholder="First name"
                      formControlName="firstName"
                    />
                  </mat-form-field>
                </p>
              </td>
              <td>
                <p>
                  <mat-form-field appearance="outline" class="no-padding">
                    <mat-label>Last Name</mat-label>
                    <input
                      type="text"
                      matInput
                      placeholder="Last Name"
                      formControlName="lastName"
                    />
                  </mat-form-field>
                </p>
              </td>
            </tr>
          </table>
          <p>
            <mat-form-field appearance="outline" class="filledInput">
              <mat-label>Username</mat-label>
              <input
                type="text"
                matInput
                placeholder="Username"
                formControlName="username"
              />
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline" class="filledInput">
              <mat-label>Email Address</mat-label>
              <input
                type="text"
                matInput
                placeholder="Email Address"
                formControlName="email"
              />
            </mat-form-field>
          </p>

          <table>
            <tr>
              <td>
                <p>
                  <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input
                      type="password"
                      matInput
                      placeholder="Password"
                      formControlName="password"
                    />
                  </mat-form-field>
                </p>
              </td>
              <td>
                <p>
                  <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input
                      type="password"
                      matInput
                      placeholder="Confirm Password"
                      formControlName="confirmPassword"
                    />
                  </mat-form-field>
                </p>
              </td>
            </tr>
          </table>

          <div class="button">
            <button type="submit" mat-raised-button color="primary">
              Register
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
